<!DOCTYPE html>
<html>
<head>
  <title>Shibbolite</title>
  <style>
    body {
      background-color: white;
      color: #474747;
      text-align: left;
      font-family: arial, sans-serif;
    }

    div.message {
      width: 20em;
      margin: 2em 0 0 2em;
      border: 20px solid #D8000F;
      border-radius: 70px;
      padding: 7px 3em 1em 3em;
    }

    h1 {
      font-size: 25px;
      color: #D8000F;
      line-height: 2em;
    }

  </style>
</head>

<body>
  <%= yield %>
</body>